.footer-section{
    padding: 50px 0;
    background-color: rgb(23,65,62);
}

.footer-section div{
    color: #DEB707;
}
ul {
    list-style: none;
}
.footer-logo{
    width: 40px;
    margin-right: 5px;
    color: #DEB707;
    object-fit: cover;
}

.footer-title{
    font-size: 24px; ;
    list-style-type: none;
    color: #DEB707;
    text-transform: uppercase;
    font-weight: bold;
}
.footer ul, .footer-link, .footer-text{
    text-transform: uppercase;
    color: #DEB707;
    list-style-type: none;
    font-weight: 100;
}
.footer-link:hover{
    text-decoration: none;
    color: white;
}
.text-color{
    color: #DEB707;
}