.products-store{
    margin-top: 10%;
}
.button-option{
    margin-top: 10%;
    color: white;
    width: 100%;
}
.button-color-filter{
    background-color:  rgb(23,65,62);
    color: white;
}
.button-color{
    background-color:  rgb(23,65,62);
    color: white;
}
.button-color-filter:focus{
    background-color: orange;
    color: white;
}
.button-color-filter-hover:hover{
    background-color: orange;
    color: white;
}

@media screen and (max-width: 576px) {
    .filter{
        display: none !important;
    }
    .products-store-filter{
        margin-top: 20%;
    }
}
@media screen and (min-width: 576px) {
    .filter-phone{
        margin-top: 40%;
        display: none !important;
    }
    .products-store-filter{
        margin-top: 10%;
    }
}
.filter-price{
    margin-top: 10px;
}
.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.zoomProductStore{
    transform: scale(var(--escala, 0.70));
    transition: transform 0.25s;
}
.zoomProductStore:hover{
    --escala: 0.74;
    cursor:pointer;
}

.custom-slider {
    width: 100%;
    height: 10px;
    background: rgb(23,65,62);
    opacity: 0.8;
    outline: none;
    transition: 0.3s;
    -webkit-appearance: none;
}

.custom-slider:hover {
    opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 10% / 50%;
    cursor: pointer;
}

.custom-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: orange;
    cursor: pointer;
}
.product-item a{
    text-decoration: none;
}

.sale-tag{
    position: absolute;
    width: 40px;
    top: 0;
    left: 30px;
}
.product-info{
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
}

.product-price{
    font-weight: lighter;
}

.product-price-sale{
    /* font-weight: lighter; */
    color: var(--theme-color);
}

.price-on-sale{
    font-weight: lighter;
    text-decoration: line-through;
}

.product-icon{
    position: absolute;
    width: 25px;
    height: 25px;
    /* z-index: 100; */
    /* padding: 3px; */
    /* background-color: white; */
    /* border-radius: 50%;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(173,173,173,1);
    -moz-box-shadow: 0px 3px 12px 0px rgba(173,173,173,1);
    box-shadow: 0px 3px 12px 0px rgba(173,173,173,1); */
    top: 12px;
    cursor: pointer;
    transition: .1s;
}
.product-icon:hover{
    /* background-color: rgba(255, 255, 255, 0.5); */
    scale: 1.1;
}

.add-to-cart-icon{
    right: 30px;
    /* top: 10px; */
}

.add-to-favs-icon{
    right: 90px;
    /* top: 10px; */
}

.input {
    margin: 0.4rem;
}
.show-btn{
    background-color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 0!important;
    width: 35px;
    height: 35px;
}

.show-btn img{
    padding: 5px;
    object-fit: cover;
    width: 35px;
}

.active-show-btn{
    background-color: var(--secondary-theme-color);
    border: black solid 1px;
}

.filter-tools .search-input-container{
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 5px;
    height: 35px;
    /* margin-left: 15px; */
    max-width: 250px;
    border: none;
    background-color: #EBEDEE !important;
}

.filter-tools .search-input-container input{
    outline: none;
    border: none;
    background-color: transparent !important;
    width:100%
}
.filter-tools .search-input-container .search-icon{
    position: absolute;
    object-fit: contain;
    width: 40px;
    padding: 10px;
    right: 3%;
    cursor: pointer;
}

.sort-btn{
    background-color: white;
    padding: 5px 10px;
    /* outline: none!important; */
    border: black solid 1px;
    border-radius: 0!important;
    height: 35px;
}

@media screen and (max-width: 1200px) {
    .filter-show{
        justify-content: start!important;
    }
}

@media screen and (max-width: 576px) {
    .filter-option{
        justify-content: center!important;
        margin: auto;
    }
}


/* .sort-btn:focus{
    outline: none!important;
} */
.active-sort-btn{
    background-color: var(--secondary-theme-color);
    color: var(--theme-color);
}

.filter-option .dropdown-menu{
    z-index: 10;
}


/* Second Hand section */

.btn-sell{
    border-radius: 0;
    padding: 10px 15px;
}

.empty-msg{
    height:500px
}

.sell-btn{
    /* font-weight: bold; */
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: black solid 1px;
    border-radius: 0!important;
    height: 35px;
}

.sell-btn:hover{
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
}

.btn-submit{
    background: black;
    border: none;
    color: white;
    padding: .5rem 1rem;
}

.btn-submit:hover{
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
}