.container-products {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.products-store {
    width: 100%;
    margin-top: 20px;
}

.button-option {
    margin-top: 10%;
    color: white;
    width: 100%;
}

.text-filter-product {
    text-align: left;
    border-bottom: solid 1px gray;
}

.title-product-store {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid rgb(228, 225, 225);
    padding-bottom: 30px;
}

.title-product {
    text-transform: uppercase;
    font-size: 32px;
}
.product-breadcrumb{
    margin-top: 90px;
    text-align: left;
}
@media screen and (min-width: 576px) {
    .filter-phone {
        margin-top: 40%;
        display: none !important;
    }
}

.filter-price {
    margin-top: 10px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.zoomProductStore {
    transform: scale(var(--escala, 0.70));
    transition: transform 0.25s;
}

.zoomProductStore:hover {
    --escala: 0.74;
    cursor: pointer;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}

.product-item a {
    text-decoration: none;
}

.sale-tag {
    position: absolute;
    width: 40px;
    top: 0;
    left: 30px;
}

.product-info {
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
}

.product-price {
    font-weight: lighter;
}

.product-price-sale {
    /* font-weight: lighter; */
    color: var(--theme-color);
}

.price-on-sale {
    font-weight: lighter;
    text-decoration: line-through;
}

.product-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    /* z-index: 100; */
    /* padding: 3px; */
    /* background-color: white; */
    /* border-radius: 50%;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(173,173,173,1);
    -moz-box-shadow: 0px 3px 12px 0px rgba(173,173,173,1);
    box-shadow: 0px 3px 12px 0px rgba(173,173,173,1); */
    top: 12px;
    cursor: pointer;
    transition: .1s;
}

.product-icon:hover {
    /* background-color: rgba(255, 255, 255, 0.5); */
    scale: 1.1;
}

.add-to-cart-icon {
    right: 30px;
    /* top: 10px; */
}

.add-to-favs-icon {
    right: 90px;
    /* top: 10px; */
}

.input {
    margin: 0.4rem;
}

.show-btn {
    background-color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 0 !important;
    width: 35px;
    height: 35px;
}

.show-btn img {
    padding: 5px;
    object-fit: cover;
    width: 35px;
}

.active-show-btn {
    background-color: var(--secondary-theme-color);
    border: black solid 1px;
}

.filter-tools .search-input-container {
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 5px;
    height: 35px;
    /* margin-left: 15px; */
    max-width: 250px;
    border: none;
    background-color: #EBEDEE !important;
}

.filter-tools .search-input-container input {
    outline: none;
    border: none;
    background-color: transparent !important;
    width: 100%
}

.filter-tools .search-input-container .search-icon {
    position: absolute;
    object-fit: contain;
    width: 40px;
    padding: 10px;
    right: 3%;
    cursor: pointer;
}

.sort-btn {
    background-color: white;
    padding: 5px 10px;
    /* outline: none!important; */
    border: black solid 1px;
    border-radius: 0 !important;
    height: 35px;
}

/* .sort-btn:focus{
    outline: none!important;
} */
.active-sort-btn {
    background-color: var(--secondary-theme-color);
    color: var(--theme-color);
}

.filter-option .dropdown-menu {
    z-index: 10;
}


/* Second Hand section */

.btn-sell {
    border-radius: 0;
    padding: 10px 15px;
}

.empty-msg {
    height: 500px
}

.sell-btn {
    /* font-weight: bold; */
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: black solid 1px;
    border-radius: 0 !important;
    height: 35px;
}

.sell-btn:hover {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}

.btn-submit {
    background: black;
    border: none;
    color: white;
    padding: .5rem 1rem;
}

.btn-submit:hover {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}